/* Resetting default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #fdfbfb 0%, #09f8c0 100%);
    overflow-x: hidden;

}

header {
    background-color: #00fbff;
    color: #fff;
    padding: 40px 0;
    text-align: center;
   
}


/* h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 200px;
    text-align: center;
    animation: colorChange is forwards;
}
@keyframes colorChange {
    from {
      background-color: #ff5f6d; /* Start color */
    /* }
    to {
      background-color: #3498db;
    }
  }
  
  .box:hover {
    animation-duration: 2s; 
    background-color: #3498db; 
  }
   */ 
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:hover{
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1E90FF;
}
.p{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.start{
    margin-top: 30px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(223, 215, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    /* background-color: #fff; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.start:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

main {
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#section1{
    background-color: antiquewhite;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 950px;
    height: 200px;
}
#section1:hover{
    color: black;
}
#section3 h2{
    text-align: center;
}
#section3 p{
    text-align: left;
}
#section3 video{
    align-items: center;
    width: 400px;
    height: 350px;
    border: 10px solid #BCC6CC;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.679);
}



section {
    background-color: #fff;
    margin: 100px;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 950px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    /* width: 200%;
    height: 200%; */
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
    z-index: 1;
    transform: rotate(45deg);
}

section:hover::before {
    top: 0;
    left: 0;
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    background-color: #BCC6CC;
}
.patu ul li {
    text-align: left;
    font-size: 20px;
}
.patu ol li {
    text-align: left;
}
.patu h3{
    font-size: 22px;
}
#tanu ul{
    font-size: larger;
}


img{
    
    width: 400px;
    height: 350px;
    border: 10px solid #BCC6CC;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.679);

}


h2 {
    color: #1E90FF;
    font-size: 28px;
    margin-bottom: 20px;
}
h3{
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
