/* Resetting default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #fdfbfb 0%, #09f8c0 100%);
    color: #333;
    overflow-x: hidden;
}

header {
    background: linear-gradient(120deg, #2980b9 0%, #3498db 100%);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    transition: background-color 0.3s;
}

body p{
    text-align: left;
    font-size: larger;
    font-size: 20px;
}
body ul li{
    text-align: left;
    font-size: larger;
}


img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 125px;
    width: 420px;
    height: 360px;
    border: 10px solid black;
    border-radius: 40px ;
    box-shadow: 10px 10px gray;
    
}

h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: transform 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    align-items: center;
    text-align: center;
}

header:hover {
    background: linear-gradient(120deg, #1e3799 0%, #2980b9 100%);
}

h1:hover {
    transform: scale(1.1);
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #2980b9;
    color: #fff;
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    background-color: #fff;
    align-items: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 700px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    /* width: 200%;
    height: 200%; */
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
    z-index: 1;
    transform: rotate(45deg);
}

section:hover::before {
    top: 0;
    left: 0;
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #1E90FF;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
   
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
